-- Disable RLS for all tables
ALTER TABLE "public"."User" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."User";

ALTER TABLE "public"."Address" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Address";

ALTER TABLE "public"."Category" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Category";

ALTER TABLE "public"."Product" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Product";

ALTER TABLE "public"."ProductImage" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."ProductImage";

ALTER TABLE "public"."ProductCategory" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."ProductCategory";

ALTER TABLE "public"."Occasion" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Occasion";

ALTER TABLE "public"."ProductOccasion" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."ProductOccasion";

ALTER TABLE "public"."Relationship" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Relationship";

ALTER TABLE "public"."ProductRelationship" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."ProductRelationship";

ALTER TABLE "public"."Cart" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Cart";

ALTER TABLE "public"."CartItem" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."CartItem";

ALTER TABLE "public"."Order" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Order";

ALTER TABLE "public"."OrderItem" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."OrderItem";

ALTER TABLE "public"."DeliverySlot" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."DeliverySlot";

ALTER TABLE "public"."DeliveryZone" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."DeliveryZone";

ALTER TABLE "public"."Vendor" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Vendor";

ALTER TABLE "public"."DeliveryPartner" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."DeliveryPartner";

ALTER TABLE "public"."DeliveryProof" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."DeliveryProof";

ALTER TABLE "public"."VendorProduct" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."VendorProduct";

ALTER TABLE "public"."Review" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Review";

ALTER TABLE "public"."Reminder" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Reminder";

ALTER TABLE "public"."Payment" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Payment";

ALTER TABLE "public"."Refund" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Refund";

ALTER TABLE "public"."Coupon" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Coupon";

ALTER TABLE "public"."CouponUsage" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."CouponUsage";

ALTER TABLE "public"."CorporateEnquiry" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."CorporateEnquiry";

ALTER TABLE "public"."AdminSetting" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."AdminSetting";

ALTER TABLE "public"."AuditLog" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."AuditLog";

ALTER TABLE "public"."Notification" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."Notification";

ALTER TABLE "public"."RefreshToken" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."RefreshToken";

ALTER TABLE "public"."InventoryMovement" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."InventoryMovement";

ALTER TABLE "public"."OrderStatusHistory" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."OrderStatusHistory";

ALTER TABLE "public"."PaymentWebhookEvent" DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Deny all public access" ON "public"."PaymentWebhookEvent";


